zadání/
/Application/temp-data/
/BPINI-Kozler-Petr-2016/
/BPINI-Kozler-Petr-2016.zip
/IOTestRunner/nbproject/private/
/CodeConvertHelper/nbproject/private/
/SourceConvertHelper/nbproject/private/
/Kozler_A13B0359P/CodeConverter/nbproject/private/
/Kozler_A13B0359P/CodeManager/build/
/Kozler_A13B0359P/CodeManager/dist/
/Kozler_A13B0359P/CodeManager/nbproject/private/