zadání/
/JavaLibraryTest/target/
/JavaApplication/target/
/JavaApplication/nbproject/private/
/JavaApplication/dist/
/JavaApplication/build/
/JavaApplication/temp-data/
/BPINI-Kozler-Petr-2016/
/BPINI-Kozler-Petr-2016.zip